body{
    background-color: aqua;
    background-attachment:scroll;
    background-image: url("bg.jpg");
}
h1{
    text-align: center;
}
.header1{
    color: rgb(27, 114, 50);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: rgb(76, 186, 223);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    
}
.header1:hover{
    color: pink;
}
hr{
    height: 10px;
    background-color: red;
    width: 500px;
    border-radius: 25px;
}
.center{
    display: grid;
    justify-content: center;
}
.b1{
    background-color: lightcoral;
    display:block;
    height: 50px;
    width: 250px;
    font-size: 25px;
    border-radius: 25px;
    justify-content: center;
    margin-left: 50px;
    padding-bottom: 7px;
}
.b1:hover{
    background-color: white;

}
.b2{
    background-color: lightcoral;
    display:block;
    height: 50px;
    width: 350px;
    font-size: 25px;
    border-radius: 50px;
    justify-content: center;
    padding-bottom: 7px;
}
.b2:hover{
    background-color: white;
}
a:link{
    color: blue;
}
a:visited{
    color:blue;
}
a{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
