body{
    background-color: aqua;
    background-attachment:scroll;
    background-image: url("bg.jpg");
}
h1{
    text-align: center;
}
p{
    color:aqua;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header1{
    color: purple;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: yellow;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;    
}
.header1:hover{
    color: black;
}
hr{
    height: 10px;
    background-color: red;
    width: 500px;
    border-radius: 25px;
}
.center{
    display: grid;
    justify-content: center;
}
.data1{
    color:white;
}
.th1{
    color:aqua;
}
th, td{
    padding:20px;
    border: solid 2px black;
    border-collapse: collapse;
    font-size: 25px;
}
a{
    color:beige;
}
a:visited{
    color:beige;
}
.billo{
    border-spacing: 20px;
    border: solid 2px black;
    border-collapse: collapse;
}
.b1{
    background-color: lightcoral;
    display:flex;
    height: 50px;
    width: 250px;
    font-size: 25px;
    border-radius: 25px;
    justify-content: center;
    margin-left: 2px;
    padding-bottom: 7px;
    padding-top: 7px;
}